@import "../../node_modules/preline/variants.css";
@import "preline.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Preline UI */

/* Preline Themes */
/* @import "./themes/theme.css"; */
